### GEOMETRY
/Geometry/NextDemo/sc_yield             25510 1/MeV
/Geometry/NextDemo/max_step_size        1. mm

/Geometry/NextDemo/drift_transv_diff    1.0 mm/sqrt(cm)
/Geometry/NextDemo/drift_long_diff      0.3 mm/sqrt(cm)
/Geometry/NextDemo/elfield              true
/Geometry/NextDemo/ELtransv_diff        0.0 mm/sqrt(cm)
/Geometry/NextDemo/ELlong_diff          0.0 mm/sqrt(cm)

# Run-8 settings
/Geometry/NextDemo/config              run8
/Geometry/NextDemo/pressure            8.50 bar
/Geometry/NextDemo/EL_field_intensity  14.0 kilovolt/cm

# Sensors binning
/Geometry/PmtR11410/time_binning 25. nanosecond
/Geometry/SiPMSensl/time_binning 1.  microsecond

# Visibilities
/Geometry/NextDemo/vessel_vis          false
/Geometry/NextDemo/field_cage_vis      false
/Geometry/NextDemo/energy_plane_vis    false
/Geometry/NextDemo/tracking_plane_vis  false
/Geometry/NextDemo/sipm_board_vis      false
/Geometry/PmtR11410/visibility         false
/Geometry/SiPMSensl/visibility         false

# Verbosities
#/Geometry/NextDemo/vessel_verbosity          false
/Geometry/NextDemo/field_cage_verbosity      false
/Geometry/NextDemo/inner_elements_verbosity  false
/Geometry/NextDemo/energy_plane_verbosity    false
/Geometry/NextDemo/tracking_plane_verbosity  false
/Geometry/NextDemo/sipm_board_verbosity      false
/Geometry/NextDemo/sipm_verbosity            false
