### GEOMETRY
# GAS SETTING
/Geometry/NextFlex/gas              enrichedXe
/Geometry/NextFlex/gas_pressure     10.   bar
/Geometry/NextFlex/gas_temperature  300.  kelvin
/Geometry/NextFlex/e_lifetime       1000. ms

# ACTIVE
/Geometry/NextFlex/active_length      532.0 mm
/Geometry/NextFlex/active_diam        416.0  mm
/Geometry/NextFlex/drift_transv_diff     1.   mm/sqrt(cm)
/Geometry/NextFlex/drift_long_diff        .3  mm/sqrt(cm)

# FIELD CAGE
/Geometry/NextFlex/buffer_length    129.9 mm

/Geometry/NextFlex/cathode_transparency .98
/Geometry/NextFlex/anode_transparency   .88
/Geometry/NextFlex/gate_transparency    .88

/Geometry/NextFlex/el_gap_length    6.  mm
/Geometry/NextFlex/el_field_on      false
/Geometry/NextFlex/el_field_int     12.83 kilovolt/cm
/Geometry/NextFlex/el_transv_diff   0. mm/sqrt(cm)
/Geometry/NextFlex/el_long_diff     0. mm/sqrt(cm)

/Geometry/NextFlex/fc_wls_mat       TPB

/Geometry/NextFlex/fc_with_fibers   false
/Geometry/NextFlex/fiber_mat        EJ280
/Geometry/NextFlex/fiber_claddings  2

/Geometry/NextFlex/fiber_sensor_time_binning  10. ms

# ENERGY PLANE
/Geometry/NextFlex/ep_with_PMTs         false
/Geometry/NextFlex/ep_with_teflon       false
/Geometry/NextFlex/ep_copper_thickness  12. cm
/Geometry/NextFlex/ep_wls_mat           TPB

/Geometry/PmtR11410/time_binning        10. ms

# TRACKING PLANE
/Geometry/NextFlex/tp_copper_thickness   12.  cm
/Geometry/NextFlex/tp_teflon_thickness    2.0  mm
/Geometry/NextFlex/tp_teflon_hole_diam    3.5 mm
/Geometry/NextFlex/tp_wls_mat            TPB
/Geometry/NextFlex/tp_sipm_anode_dist    6.0  mm
/Geometry/NextFlex/tp_sipm_sizeX         1.0  mm
/Geometry/NextFlex/tp_sipm_sizeY         1.0  mm
/Geometry/NextFlex/tp_sipm_sizeZ         0.65 mm
/Geometry/NextFlex/tp_sipm_pitchX        10.0 mm
/Geometry/NextFlex/tp_sipm_pitchY        10.0 mm
/Geometry/NextFlex/tp_sipm_time_binning  10.  ms

# ICS
/Geometry/NextFlex/ics_thickness  12. cm

# VERBOSITY
/Geometry/NextFlex/verbosity     false
/Geometry/NextFlex/fc_verbosity  false
/Geometry/NextFlex/ep_verbosity  false
/Geometry/NextFlex/tp_verbosity  false

# VISIBILITIES
/Geometry/NextFlex/fc_visibility           false
/Geometry/NextFlex/fiber_sensor_visibility false
/Geometry/NextFlex/ep_visibility           false
/Geometry/PmtR11410/visibility             false
/Geometry/NextFlex/tp_visibility           false
/Geometry/NextFlex/tp_sipm_visibility      false
/Geometry/NextFlex/ics_visibility          false
