### GEOMETRY
/Geometry/NextNew/pressure            10. bar
/Geometry/NextNew/sc_yield            25510. 1/MeV
/Geometry/NextNew/elfield             false
/Geometry/NextNew/EL_field            12.83 kV/cm

/Geometry/PmtR11410/time_binning      10. ms
/Geometry/SiPMSensl/time_binning      10. ms

/Geometry/Next100/shielding_vis       false
/Geometry/NextNew/table_vis           false
/Geometry/NextNew/ics_vis             false
/Geometry/NextNew/vessel_vis          false
/Geometry/NextNew/energy_plane_vis    false
/Geometry/NextNew/enclosure_vis       false
/Geometry/NextNew/tracking_plane_vis  false
/Geometry/KDB/visibility              false
/Geometry/SiPMSensl/visibility        false
/Geometry/PmtR11410/visibility        false
/Geometry/NextNew/field_cage_vis      false
