### GEOMETRY
/Geometry/Next100/pressure          15. bar
/Geometry/Next100/sc_yield          25510. 1/MeV
/Geometry/Next100/max_step_size     1.0 mm
/Geometry/Next100/elfield           false
/Geometry/Next100/EL_field          16. kilovolt/cm
/Geometry/Next100/drift_transv_diff 1.0 mm/sqrt(cm)
/Geometry/Next100/drift_long_diff   0.2 mm/sqrt(cm)
/Geometry/Next100/e_lifetime        12. ms

/Geometry/PmtR11410/time_binning     10. ms
/Geometry/Next100/sipm_time_binning  10. ms

#/Geometry/Next100/shielding_vis         false
#/Geometry/Next100/vessel_vis            false
#/Geometry/Next100/ics_vis               false
/Geometry/Next100/field_cage_vis        true
/Geometry/Next100/energy_plane_vis      false
/Geometry/Next100/tracking_plane_vis    false
/Geometry/Next100/sipm_board_vis        true
/Geometry/Next100/sipm_vis              true
/Geometry/PmtR11410/visibility          true
